<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>firebase-snippet</title>
</head>
<body>

</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCezlkXNPrJs9Ch7Wvd05adOkFRfocV2sY",
    authDomain: "jara-fcm.firebaseapp.com",
    databaseURL: "https://jara-fcm.firebaseio.com",
    projectId: "jara-fcm",
    storageBucket: "jara-fcm.appspot.com",
    messagingSenderId: "426807698452",
    appId: "1:426807698452:web:964338f12d18cf45d5b301",
    measurementId: "G-L9SHTWTECH"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</html>