<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.jara.dao.ReportDao">
   
   <!-- 사용자 신고 등록 -->
   <insert id="insertReport" parameterType="com.ssafy.jara.dto.Report">
      INSERT INTO report (reporter_id, accused_nickname, contents)
      VALUES (#{reporter_id}, #{accused_nickname}, #{contents});
   </insert>
   
   <!-- 닉네임에 해당하는 유저 찾기 -->
   <select id="findAccusedId" resultType="java.lang.Integer">
		SELECT id 
		FROM user
		WHERE nickname IN (SELECT accused_nickname 
							FROM report
							WHERE accused_nickname=#{accused_nickname})
   </select>
   
   <!-- 신고자 id 값으로 닉네임 찾기 -->
   <select id="findNickname" resultType="java.lang.String">
		SELECT nickname
		FROM user
		WHERE id = (SELECT reporter_id 
					FROM report
					WHERE reporter_id = #{reporter_id})
   </select>
   
   <!-- 신고수 내림차순, 닉네임 오름차순으로 전체 신고 조회 -->
   <select id="selectListReport" resultType="com.ssafy.jara.dto.Report">
   		SELECT *, (SELECT nickname
   				   FROM user AS u
   				   WHERE a.reporter_id=u.id) AS reporter_nickname 
		FROM report AS a
		ORDER BY (SELECT COUNT(reporter_id) 
				  FROM report AS b 
				  WHERE a.accused_nickname=b.accused_nickname) DESC, accused_nickname ASC;
   </select>
   
</mapper>