<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.jara.dao.WeatherDao">

	<!-- 위치 찾기 -->
	<select id="selectLocation" resultType="com.ssafy.jara.dto.Location">
		SELECT name, nx, ny
		FROM location
	</select>
	
	<!-- 지역에 맞는 날씨 업데이트 -->
	<update id="updateLocationWeather">
		UPDATE location
		SET PTY=#{PTY}, SKY=#{SKY}, T1H=#{T1H}
		WHERE name=#{name}
	</update>
	
	
	<!-- 강수형태 -->
	<select id="selectPTY" resultType="java.lang.String">
		SELECT PTY
		FROM location
		WHERE name=#{name}
	</select>
	
	<!-- 하늘상태 -->
	<select id="selectSKY" resultType="java.lang.String">
		SELECT SKY
		FROM location
		WHERE name=#{name}
	</select>
	
	<!-- 기온 -->
	<select id="selectT1H" resultType="java.lang.String">
		SELECT T1H
		FROM location
		WHERE name=#{name}
	</select>
	

</mapper>